body {

  background-image: url("/images/img5.jpg");
   background-repeat: repeat-x;

}
<<<<<<< HEAD

#figureCaption {

display:flex;
justify-content:center;
}
#carousel{
  background-color: #9e7978;
  color: #fff;
=======
#figuireCaption{
  display:flex;
  justify-content:center;
}
#carousel{
background-color: #9e7978;
>>>>>>> b3b6a20d2af2a78526b7a8ef9f55548c2bc65030
}
#recipeBackground{
  background-color: #9e7978;
}
#contentBackground{
  background-image: url("/images/img5.jpg");
}

.currentToolbar{
  background-image: url("/images/img5.jpg");
   background-repeat: repeat-x;
}

#textBox{
  margin-top:20px;
}
#background{
  background-image: url("/images/img5.jpg");

}
